<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class="text-center"> Choose a move! </h1>
<div class="containter container-fluid">

  <div class="col-lg-1"></div>


  <div class="col-lg-2 col-lg-offset-1">

    <a href = "/rock"> <h3> Play Rock </h3> <i class="fa fa-hand-rock-o" aria-hidden="true"></i></a>
  </div>
  <div class="col-lg-2 col-lg-offset-1">
    <a href = "/paper"> <h3> Play Paper </h3> </a>
  </div>
  <div class="col-lg-2 col-lg-offset-1">
    <a href = "/scissors"> <h3> Play Scissors </h3> </a>
  </div>
</div>

<div class = "container  text-center">
<h1> You played rock! </h1>



<h1>
  The computer played
  <%= computer_move = @computer_move %>
</h1>


<h1>
You <%= @outcome + "!"%>
</h1>
