<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class="text-center"> Choose a move! </h1>
<div class="containter container-fluid">

  <div class="col-lg-1"></div>


  <div class="col-lg-2 col-lg-offset-1">

    <a href = "/rock">  <i class="fa fa-5x fa-hand-rock-o" aria-hidden="true"></i></a>
  </div>
  <div class="col-lg-2 col-lg-offset-1">
    <a href = "/paper"> <i class="fa fa-5x fa-hand-paper-o" aria-hidden="true"></i></a>
  </div>
  <div class="col-lg-2 col-lg-offset-1">
    <a href = "/scissors"> <i class="fa fa-5x fa-hand-scissors-o" aria-hidden="true"></i> </a>
  </div>
</div>

<div class = "container  text-center">
  <h1> You played: </h1>

  <i class="fa fa-5x fa-hand-scissors-o" aria-hidden="true"></i>


  <h1>
    The computer played:
  </h1>
  <i class="fa fa-5x fa-hand-<%=@computer_move%>-o" aria-hidden="true"></i>

  <h1>
    You <%= @outcome + "!"%>
  </h1>


</div>
